.firstbox{
    position: relative;

    border: solid 1px black;
}

.dd{
    position: absolute;
    top: 0px;
    margin-top: 150px;
    margin-left: 100px;
}
.dd h1{
    margin: 25px;
    margin-left: 0px;
    font-weight: bold;
}
.sideTextBox{
    position: absolute;
    top: 0px;
    margin-top: 150px;
    margin-left: 850px;
}
#tb{
    margin-left: 20px;
}
.requestBOx{

}
.requestBOx img{
    margin-left: 100px;
    margin-top: 0px;
    position: relative;
}
.bInfo{
    width: 300px;
    position: absolute;
    margin-left: 330px;
    top: 290px;
}
.bReq{
    width: 300px;
}
#canB{
    margin-left: 50px;
}
#accB{
    margin-left: 150px;
}
.checkOutSec{
    position: relative;
}
#checkOutSecTxt{
    margin-top: 20px;
    width: 450px;
    height: 50px;
    margin-left: 300px;
}
#checkOutSecButton{
    position: absolute;
    top: 0px;
    width: 70px;
    height: 50px;
    margin-left: 770px;
}
#RCidInputTxt{
    width: 70px;
    height: 50px;
}

.rcoBx{
    border: #062c33 solid 2px;
}
.carManageFirstBox{
    width: 1300px;
    position: relative;
}
.leftBox{
    width: 500px;
    height: 500px;
}
.rightBox{
    position: absolute;
    width: 800px;
    height: 500px;
    top: 0px;
    margin-left: 375px;
}
 #searchIdTxt{
     margin: 10px;
   width: 550px;
     height: 42px;
     border-radius: 20px;
     margin-left: 250px;

}
 #searchCarBtn{
     position: relative;
     margin-left: 723px;
     top: -58px;
     border-radius: 40px;
 }
 .carSearchingArea{
     margin-left: 50px;

 }
.resultArea{
    position: relative;
}
.reFirstBox{
}
.reSecondBox{
    position: absolute;
    margin-left: 650px;
    top: 0px;
}
#getAllBtn{
    position: relative;
    margin-left: 950px;
    top: 50px;
    width: 160px;
}
.sectionTwo{
    margin: 10px;
    background-color: #f5f6fa;

}
.sectionOne{
    margin: 10px;
    background-color: #f5f6fa;
}
#DeleteBTN {
    margin-bottom: 10px;
}
#carUpdateBtn{
    margin-bottom: 10px;
}

.cardBox{
    background-color: white;
    height: 180px;
    margin: 15px;
    width: 600px;
    border-radius: 20px;
}

.DriverAddBox{
    width: 600px;
    height: 150px;
    border: solid 1px black;
    background-color: #f5f6fa;
}
.DriverThirdBox{
    border: solid 1px black;
    background-color: #f5f6fa;
    margin-top: 20px;
    margin-bottom: 20px;
}
#driverSearchIdTxt{
    margin: 10px;
    width: 550px;
    height: 42px;
    border-radius: 20px;
    margin-left: 250px;
}
#driverSearchBtn{
    position: relative;
    margin-left: 723px;
    top: -58px;
    border-radius: 40px;
}
.customerDetailsSecInRCI ,.vehicleDetailsSecInRCI,.rentDetailsSec{
    margin: 10px;
    width: 380px;
    border-radius: 20px;
    background-color: #f5f6fa;
}
.CusVehiDetailBox{
    position: relative;
}
.vehicleDetailsSecInRCI{
    position: absolute;
    top:-5px;
    margin-left: 450px;
}
.rentDetailsSec{
    position: absolute;
    top:-5px;
    margin-left: 900px;
}
.rentCheckInInputBox{
    margin-top: 80px;
}

#carContent{
    border: black solid 1px;
    width: 200px;
    margin: 50px;
}
#carContentImg{
    width: 150px;
    height: 150px;
    margin: 15px;
}
#carContentButton{
    height: 30px;
    width: 120px;
    margin-left: 35px;
    background-color:#b1dfbb;
}
#pickupday ,#rentdays{
    margin-left: 160px;
}
